
<div id="intro">

    <div class="container-fluid d-flex align-items-start justify-content-center h-100">

        <div class="row d-flex justify-content-center text-center">

            <div class="col-lg-12 header">

                <!-- Heading -->
                <h3 class="display-4 pt-5 mb-2 header">Pets Place Online</h3>
                <h4>(Demo Site)</h4>

                <!-- Divider -->
                <hr class="hr-light">

                <!-- Description -->
                <p class="my-4">Shop treats and accessories for our furry friends. Delivered with minimal contact.</p>

            </div>

        </div>

    </div>

</div>
