/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    padding-top: 5rem;
  }
.starter-template {
  padding: 3rem 1.5rem;
}
.login-btn {
  text-align: center;
}
.divider{
  width:5px;
  height:auto;
  display:inline-block;
}
.btn-custom {
  color: #4d4838;
  background-color: linen;
  border-color: rgb(219, 210, 201)
}

.btn-custom:hover {
  color: #4d4838;
  background-color: rgb(221, 204, 166);
  border-color: rgb(219, 210, 201)
}

.btn-custom:focus,
.btn-custom.focus {
  box-shadow: 0 0 0 .2rem rgb(218, 202, 133)
}

.btn-custom.disabled,
.btn-custom:disabled {
  color: #a09982;
  background-color: rgb(219, 210, 201);
  border-color: rgb(219, 210, 201)
}

.btn-custom:not(:disabled):not(.disabled):active,
.btn-custom:not(:disabled):not(.disabled).active,
.show>.btn-custom.dropdown-toggle {
  color: #4d4838;
  background-color: rgb(187, 174, 115);
  border-color: linen
}

.btn-custom:not(:disabled):not(.disabled):active:focus,
.btn-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgb(218, 202, 133)
}

.btn-outline-custom {
  color: rgb(218, 202, 133);
  background-color: transparent;
  background-image: none;
  border-color: rgb(218, 202, 133)
}

.btn-outline-custom:hover {
  color: #4d4838;
  background-color: rgb(218, 202, 133);
  border-color: linen
}

.btn-outline-custom:focus,
.btn-outline-custom.focus {
  box-shadow: 0 0 0 .2rem rgb(187, 174, 115)
}

.btn-outline-custom.disabled,
.btn-outline-custom:disabled {
  color: rgb(219, 210, 201);
  background-color: transparent
}

.btn-outline-custom:not(:disabled):not(.disabled):active,
.btn-outline-custom:not(:disabled):not(.disabled).active,
.show>.btn-outline-custom.dropdown-toggle {
  color: #212529;
  background-color: rgb(187, 174, 115);
  border-color: linen
}

.btn-outline-custom:not(:disabled):not(.disabled):active:focus,
.btn-outline-custom:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgb(187, 174, 115)
}

.btn-secondary-custom {
  color: #fff;
  background-color: #ca8f99c5;
  border-color: #ca8f99c5;
}

.btn-secondary-custom:hover {
  color: #fff;
  background-color: #f8cad6;
  border-color: beige;
}

.btn-secondary-custom:focus, .btn-secondary-custom.focus {
  color: #fff;
  background-color: #b69fa0;
  border-color: #b69fa0;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary-custom.disabled, .btn-secondary-custom:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary-custom:not(:disabled):not(.disabled):active, .btn-secondary-custom:not(:disabled):not(.disabled).active,
.show > .btn-secondary-custom.dropdown-toggle {
  color: #fff;
  background-color: #b69fa0;
  border-color: #b69fa0;
}

.btn-secondary-custom:not(:disabled):not(.disabled):active:focus, .btn-secondary-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.custom-list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.custom-list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.custom-list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.custom-list-group-item.disabled, .custom-list-group-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

.custom-list-group-item.active {
  z-index: 2;
  color: #4d4838;
  background-color: linen;
  border-color: beige;
}

.custom-list-group-item + .custom-list-group-item {
  border-top-width: 0;
}

.custom-list-group-item + .custom-list-group-item.active {
  margin-top: -1px;
  border-top-width: 1px;
}